

.img-clockpic{
  width: 300px;
  height: 200px;
  top: 10px;
  left: 40px;
  right: 120px;
  border: 10px solid white;
  }
  
  .img-motication{
    width: 300px;
    height: 200px;
    left:40px;
    top: 100px;
    right: 120px;
    border: 10px solid white;
  } 
  .img-whiteclock{
    width: 300px;
    height: 200px;
    left: 30px;
    top: 10px;
    border: 10px solid white;
  }
  .img-timeOnlyThing{
    width: 300px;
    height: 300px;
    left:40px;
    border: 10px solid white;
  }
  #title{
    text-align: center;
  }
  .img-hourglass{
    width: 300px;
    height:300px;
    border: 10px solid white;
    }
    .container{
      background-color: rgb(167, 164, 164);
    }

    .login{
      background-color: blue;
      text-align: center;

    }
    .account{
      font-size: 16px;
      color: white;
      border: 10px solid rgb(167, 164, 164);
    }
    .login{
      color: white;
    }
    .loginbutton{
      color: white;
      background-color: blue;
      
    }
    a:link, a:visited {
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    a:hover {
      color: red;
      background-color: white;
      text-decoration: underline;
    }
    .signbutton{
      text-align: center;
      border: 10px solid rgb(167, 164, 164);

    }
    .backto{
      text-align: center;
      background-color: blue;
      border: 20px solid rgb(167, 164, 164);
    }
    .form-signin{
      border: 20px solid rgb(167, 164, 164);
    }




 

